# Model Training

In [1]:
import numpy as np
import pandas as pd

In [12]:
df = pd.read_csv("../datasets/train_final.csv")

In [14]:
df.drop(["Unnamed: 0", "PassengerId"], axis=1, inplace=True)

In [13]:
df.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Age,Fare,FamilySize,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Initial_Master,Initial_Miss,Initial_Mr,Initial_Mrs,Initial_Other
0,0,1,0,3,22.0,7.2500,1,0,1,0,0,1,0,0,1,0,0
1,1,2,1,1,38.0,71.2833,1,1,0,1,0,0,0,0,0,1,0
2,2,3,1,3,26.0,7.9250,0,1,0,0,0,1,0,1,0,0,0
3,3,4,1,1,35.0,53.1000,1,1,0,0,0,1,0,0,0,1,0
4,4,5,0,3,35.0,8.0500,0,0,1,0,0,1,0,0,1,0,0

## Splitting the training and test data

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(df.drop("Survived", axis=1), df['Survived'], test_size=0.2)

In [22]:
X_train

,Pclass,Age,Fare,FamilySize,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Initial_Master,Initial_Miss,Initial_Mr,Initial_Mrs,Initial_Other
629,3,33.0,7.7333,0,0,1,0,1,0,0,0,1,0,0
45,3,33.0,8.0500,0,0,1,0,0,1,0,0,1,0,0
420,3,33.0,7.8958,0,0,1,1,0,0,0,0,1,0,0
854,2,44.0,26.0000,1,1,0,0,0,1,0,0,0,1,0
618,2,4.0,39.0000,3,1,0,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,2,36.5,26.0000,2,0,1,0,0,1,0,0,1,0,0
514,3,24.0,7.4958,0,0,1,0,0,1,0,0,1,0,0
520,1,30.0,93.5000,0,1,0,0,0,1,0,1,0,0,0
524,3,33.0,7.2292,0,0,1,1,0,0,0,0,1,0,0
88,1,23.0,263.0000,5,1,0,0,0,1,0,1,0,0,0

## Training the model

In [23]:
from sklearn.svm import SVC

In [24]:
clf = SVC()

In [25]:
clf.fit(X_train, y_train)

SVC()

In [26]:
y_pred = clf.predict(X_test)

In [27]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0])

## Checking the accuracy

In [28]:
from sklearn.metrics import accuracy_score

In [29]:
accuracy = accuracy_score(y_test, y_pred)

In [30]:
accuracy

0.7150837988826816

In [37]:
clf.score(X_test, y_test)

0.7150837988826816

## Using cross val score

In [38]:
from sklearn.model_selection import cross_val_score

In [39]:
X = df.drop("Survived", axis=1)
y = df['Survived']

In [40]:
clf = SVC(random_state=42)

In [41]:
scores = cross_val_score(clf, X, y)

In [43]:
scores.mean()

0.6723746155294709

## Using LinearSVC

In [57]:
from sklearn.svm import LinearSVC
from sklearn.model_selection import cross_val_score

X = df.drop("Survived", axis=1)
y = df['Survived']

lsvc = LinearSVC(random_state = 42, dual='auto')

scores = cross_val_score(lsvc, X, y)

print("Mean accuracy: ", scores.mean())

Mean accuracy:  0.8293829640323898

## Using SVC

In [58]:
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score

X = df.drop("Survived", axis=1)
y = df['Survived']

svc = SVC(random_state = 42)

scores = cross_val_score(svc, X, y)

print("Mean accuracy: ", scores.mean())

Mean accuracy:  0.6723746155294709

## Using KNeighbourClassifier

In [60]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score

X = df.drop("Survived", axis=1)
y = df['Survived']

knc = KNeighborsClassifier()

scores = cross_val_score(knc, X, y)

print("Mean accuracy: ", scores.mean())

Mean accuracy:  0.7048710062142991

## Using RandomForestClassifier

In [63]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

X = df.drop("Survived", axis=1)
y = df['Survived']

rfc = RandomForestClassifier(n_estimators=100)

scores = cross_val_score(rfc, X, y)

print("Mean accuracy: ", scores.mean())

Mean accuracy:  0.803603038101814

## Using SGDClassifier

In [64]:
from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import cross_val_score

X = df.drop("Survived", axis=1)
y = df['Survived']

sgd = SGDClassifier()

scores = cross_val_score(sgd, X, y)

print("Mean accuracy: ", scores.mean())

Mean accuracy:  0.7339966103822736

---

We'll use LinearSVC